<header>
  <h1>!!!!!Nagano Cake!!!!!</h1>
    <tr>about</tr>
    <tr>商品一覧</tr>
    <tr>新規登録</tr>
    <tr>ログイン</tr>
</header>

<p>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。</p>
    
    

